@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

//color variables
$cream: hsl(30, 38%, 92%);
$darkCyan: hsl(158, 36%, 37%);
$verydarkCyan: hsl(156, 59%, 25%);
$veryDarkBlue: hsl(212, 21%, 14%);
$darkGrayishBlue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $cream;
  font-family: "Montserrat", sans-serif;
}
.product-card {
  display: flex;
  flex-direction: column;
  max-width: 342px;
  min-height: 612px;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 20px hsla(0, 0%, 0%, 0.1);
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: content;
  flex: 1 0 auto;
  padding: 24px;
  h1 {
    font-family: "Fraunces", serif;
    color: $veryDarkBlue;
    font-size: 2rem;
    line-height: 2rem;
  }
  button {
    color: $white;
    font-weight: bold;
    font-size: 0.9rem;
    background-color: $darkCyan;
    border-radius: 10px;
    border: none;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: inherit;
  }
  button:hover {
    background-color: $verydarkCyan;
    cursor: pointer;
  }
  button img {
    margin-right: 10px;
  }
}
.product-category {
  color: $darkGrayishBlue;
  letter-spacing: 5px;
  font-size: 0.75rem;
}
.product-discription {
  color: $darkGrayishBlue;
  font-size: 0.9rem;
  line-height: 1.4rem;
}
.current-price {
  font-family: "Fraunces", serif;
  color: $darkCyan;
  font-size: 2rem;
}
.previous-price {
  color: $darkGrayishBlue;
  font-size: 0.8rem;
  text-decoration: line-through;
  position: relative;
  top: -8px;
  left: 14px;
}
.product-image {
  background-image: url("images/image-product-mobile.jpg");
  background-size: cover;
  background-position: center;
  flex-basis: content;
  min-height: 240px;
}
footer {
  padding: 10px;
  text-align: center;
  font-size: 0.8rem;
  p {
    color: hsl(220, 15%, 55%);
    margin: 3px;
  }
  i {
    font-size: 0.9rem;
  }
  a {
    color: hsl(220, 15%, 55%);
  }
  a:hover {
    color: hsl(218, 44%, 22%);
    transition: 700ms;
  }
}

@media only screen and (min-width: 480px) {
  .product-card {
    flex-direction: row;
    max-width: 600px;
    min-height: 450px;
  }
  .product-image {
    flex-basis: 50%;
    background-image: url("images/image-product-desktop.jpg");
  }
  .product-info {
    flex-basis: 50%;
    padding: 30px;
  }
}
